<menu>
    <a href="/"><img src="/img/resume.png" style="max-height: 100px; margin: 1%;"></a>
    <div class="menu-box">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact Me</a>
    </div>
</menu>