<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Sebastian Arellano-Rubach</title>
</head>
<body>
    <div class="main-wrapper">
    <%- include('../partials/menu') %>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>